[submodule "catppuccin/bat"]
	path = catppuccin/bat
	url = https://github.com/catppuccin/bat
[submodule "catppuccin/btop"]
	path = catppuccin/btop
	url = https://github.com/catppuccin/btop
[submodule "catppuccin/fish"]
	path = catppuccin/fish
	url = https://github.com/catppuccin/fish
[submodule "catppuccin/nushell"]
	path = catppuccin/nushell
	url = https://github.com/catppuccin/nushell
[submodule "catppuccin/powershell"]
	path = catppuccin/powershell
	url = https://github.com/catppuccin/powershell
[submodule "catppuccin/starship"]
	path = catppuccin/starship
	url = https://github.com/catppuccin/starship
[submodule "catppuccin/tmux"]
	path = catppuccin/tmux
	url = https://github.com/catppuccin/tmux
[submodule "catppuccin/wezterm"]
	path = catppuccin/wezterm
	url = https://github.com/catppuccin/wezterm
[submodule "skk/dict"]
	path = skk/dict
	url = https://github.com/skk-dev/dict
[submodule "wezterm/wezterm-types"]
	path = wezterm/wezterm-types
	url = https://github.com/justinsgithub/wezterm-types
