[core]
    excludesfile = /home/orumin/.gitignore_global
	symlinks = true
	autocrlf = false
[user]
	email = dev@orum.in
	name = orumin
	signingkey = BDD66ECC
[push]
	default = simple
[commit]
    gpgsigne = true
[github]
	user = orumin
[init]
	defaultBranch = main
